<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.royole.views">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".activity.OrignToolbarActivity"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar"></activity>
        <activity
            android:name=".activity.ToolBarActivity"
            android:theme="@style/ToolbarTheme" />
        <activity android:name=".activity.WebViewActivity" />
        <activity
            android:name=".activity.ViewMainActivity"
            android:label="viewmain" />
        <activity
            android:name=".activity.ViewsActivity"
            android:label="viewsactivity" />
        <activity android:name=".activity.listview.ArrayAdapterListActivity" />
        <activity android:name=".activity.listview.CusorPeopleActivity" />
        <activity android:name=".activity.listview.CusorPhoneActivity" />
        <activity android:name=".activity.listview.ListAdpaterActivity" />
        <activity android:name=".activity.listview.SeparatorsActivity" />
        <activity android:name=".activity.listview.CollapsedListActivity" />
        <activity android:name=".activity.listview.SingleChoiceListActivity" />
        <activity android:name=".activity.listview.MultiChoiceListActivity" />
        <activity android:name=".activity.listview.ItemSelectListActivity" />
        <activity android:name=".activity.listview.TranscriptListActivity" />
        <activity android:name=".activity.listview.SlowAdapterActivity" />
        <activity android:name=".activity.listview.EfficientAdapterActivity" />
        <activity android:name=".activity.listview.SelectionModeActivity" />
        <activity android:name=".activity.listview.BorderSelectActivity" />
        <activity android:name=".activity.listview.ActivateItemActivity" />
        <activity android:name=".activity.listview.PhotosActivity" />
        <activity android:name=".activity.listview.ArrayOverlayActivity" />
        <activity android:name=".activity.ListViewsActivity" />
    </application>

</manifest>