<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.royole.fourcomponent">

    <application>
        <activity android:name=".provider.ProviderTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.com.royole.fourcomponent.provider.book" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.BookProvider"
            android:authorities="com.royole.fourcomponent.provider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".FourMainActivity" />
    </application>

</manifest>