<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.royole.storageaccess">

    <application>
        <activity android:name=".activity.DataBaseActivity"
            android:label="database"></activity>
        <activity
            android:name=".activity.ExternalFileActivity"
            android:label="externalfile" />
        <activity
            android:name=".activity.InnerFileActivity"
            android:label="innerfile" />
        <activity
            android:name=".activity.SharePreferencesActivity"
            android:label="SharePreferencesActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".StorageMainActivity"
            android:label="StorageMainActivity" />
    </application>

</manifest>